* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
}

body::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: cornflowerblue;
  top: 0;
  left: 0;
}

.container {
  user-select: none;
  background-color: white;
  border-radius: 5px;
  width: 320px;
  height: 350px;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.container .points {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  justify-content: center;
  padding-left: 10px;
}

.flip-img {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60%;
  transform-style: preserve-3d;
}

@keyframes spin-tails {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(1980deg);
  }
}

@keyframes spin-heads {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(2160deg);
  }
}

.flip-img div {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tail {
  transform: rotateY(180deg);
}

.container .buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
}

.buttons button {
  border-radius: 5px;
  border: none;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  width: 40%;
}

#flip {
  background-color: cornflowerblue;
  color: white;
  user-select: none;
  padding: 10px;
}

#reset {
  background-color: white;
  color: cornflowerblue;
  border: 1px solid cornflowerblue;
  padding: 10px;
  user-select: none;
}
